body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    --color1: #0FA3B1;
    --color2: #B5E2FA;
    --color3: #F9F7F3;
    --color4: #EDDEA4;
    --color5: #F7A072;
}

.main-list, .region-towns {
    list-style: none;
    }

/* start of About Us pg styling */
.team {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    margin: 15px;
    border-radius: 5px;
    height: 400px;
    width: 175px;
    font-size: .9em;
}

.team-member img {
    width: 150px;
    border-radius: 25px;
    border: 3px solid var(--color5);
    
}

.crew-header {
    margin: 5%;
    font-size: 20px;
}

h3 {
    text-align: center;
}

/* End of About Us pg Styling */



/* start map/main pg styling */
.region-words {
    font-size: 2em;
    margin: 0;
}

.map-div {
    display: flex;
    position: relative;
    width:fit-content;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    
}

.map-image {
    /* width: 60%; */
    /* height: auto; */
    border: 4px solid var(--color1);
    border-radius: 10px;
    position: relative;
    margin: 10px;

}

#west {
    position: absolute;
    top: 25%;
    left: 15%;
}

#central {
    position: absolute;
    top: 34%;
    left: 45%;
}

#east {
    position: absolute;
    top: 50%;
    left: 65%;
}

.map-title {
        font-family:'Kaushan Script', cursive;
        color: var(--color5);
}

.map-button {
        background-color: var(--color5);
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 2px 2px;
        cursor: pointer;
}

.map-button:hover {
        background-color: var(--color1);
}

.region-message {
    margin: 20px;
    margin-top: 5%;
} 
/* end map/main pg styling */



/* start region page styling */
.main-region { 
  background-color: var(--color4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  /* margin: 0; */
}

.region-towns { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0px; 
    padding: 20px;
    
}

.place-thumbnail {
    border: 3px solid var(--color1);
    width: 150px;
    background-color: var(--color5);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.place-title { 
    font-weight: bolder;
    font-size: 20px;
    color: black;
    padding: 5px;
}

.place-thumbnail:hover {
    transform: scale(1.1);
}

.region-message {
    text-align: center;
}

.place-tag {
    padding-bottom: 5px;
}

.region-photo { 
    width: 100px;
    height: 70px;
}
/* end region page styling */



/* Start Town pg styling */
.town-main { 
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--color3);
}

.town-page {
    border: 4px solid var(--color1);
    border-radius: 20px;
    background-color: white;
    max-width: 80%;
    display: grid;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 16px;
    line-height: 1.5;
}

.town-title {
    text-align: center;
    font-size: 2.5em; 
}

.town-description {
    width: 70%;
    line-height: 20px;
}

.town-stats {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    text-align: center;
    margin-top: 10px;
}

.add-button {
    background-color: var(--color5);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

.add-button:hover {
    background-color: var(--color1);
}

.hidden-button {
    background-color: var(--color5);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

.hidden-button:hover {
    background-color: var(--color1);
}

.town-photo {
    border: 3px solid var(--color5);
    display: flex;
    border-radius: 20px;
    width: 70%;
}


/* End Town pg styling */



/* Start My Places pg styling */
.my-places-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--color3);
}
    
.my-places-title {
    font-size: 3.0em;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: var(--color5);
    margin-top: 0;
}
    
.nav-bar-links {
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    color: var(--color1);
}
    
.nav-bar-links:hover {
    color: var(--color5);
}

.places-message {
    margin: 5%;
    margin-bottom: 1%
}
    
.my-places-table {
    display: block;
    margin: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    /* width: 30%; */
    align-items: center;
    justify-content: center;
}
    
.my-places-tr{
    display: block;
    text-align: center;
    margin: 40px;
    margin-top: 20px;
}

.my-places-anchor {
    text-decoration: none;
    color: black;
}

.my-places-image:hover {
    transform: scale(1.1);
}


.my-places-image {
    border: 3px solid var(--color5);
    display: flex;
    border-radius: 20px;
    width: 200px;
}

.my-places-image-td {
    padding-right: 0;
}

.my-places-nameTd {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return-button {
    background-color: var(--color5);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

.return-button:hover {
    background-color: var(--color1);
}
/* End My Places pg styling */











