body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    --color1: #0FA3B1;
    --color2: #B5E2FA;
    --color3: #F9F7F3;
    --color4: #EDDEA4;
    --color5: #F7A072;
}
ul {
    list-style: none;
    background-color: var(--color1);
    }
.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 900px;
    height: 400px;
    }
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
}
.team-member img {
    width: 150px;
    
}
.team-member ul {
    
}
div.columns {
    flex: 1;
}
.help-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.help-header {
    
    color: var(--color5);
    display: inline;
}

.help-subheader {
    
    color: var(--color1);
    display: inline;
}

.help-name-form {
    display: block;
    width: 94%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.help-email-form {
    display: block;
    width: 94%;
    padding: 12px;
    margin-bottom: 10px;
}
.help-message-form {
    display: block;
    width: 100%;
    
    height: 200px;
    margin-bottom: 10px;
   
    
}
.help-submit {
    background-color: var(--color5);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 2px;
    cursor: pointer;
    
}
.help-submit:hover {
    background-color: var(--color1);
}
